<div class="comment" comment-id="<%= id %>" children-closed>
  <div class="comment-author-info">
    <img src="<%= author.avatar %>" class="avatar comment-avatar" />
    <div class="comment-username-block">
      <a target="_blank" href="/user/<%= author.name %>" class="comment-username">
        <%= author.name %>
      </a>
      <p><%= formatDate(new Date(time)) %></p>
    </div>

    <div class="comment-rating">
      <p class="comment-rating-element vote-rating"><%= rating %></p>
    </div>
  </div>

  <div class="comment-content">
    <div class="comment-text">
      <%- content.text %>
    </div>
    
    <% for (const image of content.images) { %>
      <img src="<%= image.small %>" class="comment-image"/>
    <% } %>
  </div>

  <div class="comment-children">
    <div class="comment-children-left button" onclick="openChildren(this.parentElement)">
      <div class="comment-children-left-line"></div>
    </div>

    <div class="comment-children-content">
      <!-- Добавляется динамически -->
    </div>

  </div>
  <div class="comment-toggle-children button" onclick="openChildren(this)">
    <div class="comment-toggle-children-button">Открыть ветку</div>
  </div>

  <div class="vote-comment-block vote-block" voting-item-id="<%= id %>" current-vote="<%= user_vote %>">
    <div class="rating-pluses vote-btn-plus vote-comment-btn button vote-btn" onclick="vote(this.parentElement, 'comment', 1)">
      <p>+</p>
      <p class="vote-comment-num vote-num"><%= pluses %></p>
    </div>

    <div class="rating-minuses vote-btn-minus vote-comment-btn button vote-btn" onclick="vote(this.parentElement, 'comment', -1)">
      <p>-</p>
      <p class="vote-comment-num vote-num"><%= minuses %></p>
    </div>
  </div>
</div>