<article class="story" story-id="<%= id %>">
  <div class="story-author-info">
    <img src="<%= author.avatar %>" class="avatar story-author-avatar">
    <div class="story-author-other-info">
      <a target="_blank" href="/user/<%= author.name %>">
        <p class="username story-author-username"><%= author.name %></p>
      </a>
      <%= formatDate(new Date(time)) %>
    </div>
  </div>

  <div class="story-info">
    <h2 class="story-title">
      <a class="story-title-text" target="_blank" href="/story/<%= id %>">
        <%= title %>
      </a>
    </h2>
  </div>

  <div class="story-left">
    <div class="story-left-voting">

      <% if (digs) { %>
        <p class="vote-story-digs"><%= digs %></p>
      <% } %>

      <div class="vote-story-block" voting-item-id="<%= id %>" current-vote="<%= user_vote %>">

        <div class="rating-pluses vote-btn-plus vote-btn" onclick="vote(this, 'story', 1)">
          <p>+</p>
          <p class="vote-story-num"><%= pluses %></p>
        </div>

        <div class="rating-minuses vote-btn-minus vote-btn" onclick="vote(this, 'story', -1)" >
          <p>-</p>
          <p class="vote-story-num"><%= minuses %></p>
        </div>
        
      </div>
    </div>
  </div>
  
  <div class="story-content">
    <% for (const elem of content) { %>

      <%# ТЕКСТ %>
      <% if (elem.type == 't') { %>
        <%- elem.data %>
      
      <%# КАРТИНКА %>
      <% } else if (elem.type == 'i') { %>
        <img src="<%= elem.data.large || elem.data.small %>" class="story-image" loading="lazy" referrerpolicy="no-referrer">
      
      <%# ВИДЕО %>
      <% } else if (elem.type == 'vf') { %>
        <video controls class="story-video" src="<%= elem.data.mp4 && elem.data.mp4.url || elem.data.webm && elem.data.webm.url %>">

        </video>
      
      <% } %>
    <% } %>
  </div>
  
  <% if (from_feed) { %>
    <hr />

    <div class="story-feed-buttons">
      <a href="/story/<%= id %>#comments">
        <p>Комментарии (<%= comments_count %>)</p>
      </a>
    </div>


    <% if (top_comment) { %>
      <hr />
      <div class="story-top-comment">
        <%- top_comment.toHtml() %>
      </div>
    <% } %>
  <% } %>
</article>